<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione fugit, quae necessitatibus assumenda consectetur vero maiores enim quibusdam et, sapiente aliquid qui fugiat, alias minima! Dolores, laboriosam nisi. Maiores?</p>
    </div>
</section>