 <h1>Navitagion</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolores nihil. Quo, dolores. Nulla saepe animi fugiat numquam nam commodi quia, ratione quasi reiciendis sed molestiae aperiam, deserunt mollitia ipsum?</p>

<h1> Footer</h1>